.header {
  background-color: #C0C0C0;
  height: 32px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__pad {
    display: flex;
  }

  &__status:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}